body {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
#gallery img {
    width: 300px;
    height: 300px;
}
#buttons .active {
    background-color: brown;
}
#search-icon {
   cursor: pointer;
}
