*{
    box-sizing: border-box;
}
body{
    line-height: 1.5;
}
 .projectsEl {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
  }
  .projectsEl img {
    width: 100%;
    height: 100%;
  }
  .projectsEl > div {
    position: relative;
    cursor: pointer;
    height: 100%;
  }
  .projectsEl h4 {
    font-size: 15px;
    padding: 10px;
    position: absolute;
    top: 0;
    text-align: center;
  }
  .projectsEl .project_nmuber {
    background-color: rgb(75, 75, 75);
    border-bottom-left-radius: 5px;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .projectsEl div:hover .content {
    opacity: 0.98;
  }
  .projectsEl .content {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #777677;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 0.3s ease-in;
  }
  .projectsEl .content p {
    margin: 15px 5px;
  }
  @media (max-width: 960px) {
    .projectsEl {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 700px) {
    .projectsEl {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 500px) {
    .projectsEl {
      grid-template-columns: 1fr;
    }
  
    }