.warpper {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12,1fr);
    min-width: 90%;
    margin: 0;
    padding: 0;
    gap: 10px;
}
.header {
    grid-column: 1/13;
    background-color: black;
    color: white;
    
}
.nav {
   grid-column: 1/13;
}
.acticle {
    grid-column: 1/13;
    background-color: rgb(124, 124, 124);
    text-align: center;
}
.section {
    grid-column:1/13 ;
    background-color: teal;
    justify-content: center;
    justify-self: center;
    
}
.aside {
    grid-column: 1/13;
    justify-content: center;
    justify-self: center;
    
}
.footer {
grid-column: 1/13;
}
/*-------- Overlay nav --------*/
.header{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    padding-bottom: 10px;
    margin-left: 2px;
    background-color: rgb(0, 0, 0);
    color: white;
    opacity: .9;
    z-index: 3;
    padding-top: 5px;
    overflow-x: hidden;
    transition: 0.3s ;
}
ul{
    display: block;
    padding: 2px 2px 2px;
    margin: 0 auto;
    font-size: 25px;
}
li{
    top: 0;
    left: 50px;
    padding: 20px;
    list-style: none;
    display: block;
}
li a {
    text-decoration: none;
    color: white;
}
ul li ul li{
    display: none;
    font-size: 15px;
}
ul li:hover ul li{
    display: block;
    margin: 2px;
    padding: 2px;
    left: 0;
    margin-right: 10px;
}
.nav-btn{
    position: fixed;
    font-size: 25px;
    width: 40px;
    top: 2px;
    left: 0;
    border: none;
    background-color: white;
    cursor: pointer;
    z-index: 3;
}
.open-nav{
    width: 40px;

}
.mysearch{
    margin-left: 15px;
}
.close-nav a{
   float: right;
   top: 0;
   padding: 8px;
   text-decoration: none;
   font-size: 70px;
   display: block;
   color: white;
   transition: 0.8s;
}
.icon{
    display: flex;
    color: white;
}
.fa-search{
    background-color: dodgerblue;
    color: white;
    font-size: small;
    border-radius: 0 3px 3px 0;
}
.mysearch{
    border: 3px solid dodgerblue;
}
.mysearch:focus{
    border: 1px solid dodgerblue;
    outline: none;
}
/*--------- Text ------------*/
.srctxt{
    margin: 25px;
}

/*------- Body style--------*/

/*------ Img ------------*/
