.warpper {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12,1fr);
    min-width: 90%;
    margin: 0;
    padding: 0;
    gap: 10px;
}
.header {
    grid-column: 1/13;
    background-color: black;
    color: white;
    
}
.nav {
   grid-column: 1/13;
}
.acticle {
    grid-column: 1/13;
    background-color: rgb(124, 124, 124);
    text-align: center;
}
.section {
    grid-column:1/13 ;
    background-color: teal;
    justify-content: center;
    justify-self: center;
    
}
.aside {
    grid-column: 1/13;
    justify-content: center;
    justify-self: center;
    
}
.footer {
grid-column: 1/13;
}
/*-------- Overlay nav --------*/
.header{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    opacity: .9;
    z-index: 2;
    overflow-x: hidden;
    transition: width 5s ;
}
ul{
    display: block;
    font-size: 25px;
}
li{
    padding: 20px;
    list-style: none;
    display: block;
}
li a {
    padding-top: 50px;
    text-decoration: none;
    color: white;
}
ul li ul li{
    display: none;
    font-size: 15px;
}
ul li:hover ul li{
    display: block;
    margin: 2px;
    padding: 2px;
    left: 0;
    margin-right: 10px;
}
.nav-btn{
    position: fixed;
    font-size: 25px;
    width: 40px;
    top: 0;
    left: 0;
    border: none;
    background-color: white;
    cursor: pointer;
    z-index: 3;
}
.open-nav{
    width: 40px;

}
.mysearch{
   justify-self: center;
   transform: translate(-50%,-50%);
}
.close-nav a{
   float: right;
   top: -2px;

   padding: 8px;
   text-decoration: none;
   font-size: 70px;
   display: block;
   color: white;
   transition: all 0.2s;
}
/*--------- Text ------------*/


/*------- Body style--------*/

/*------ Img ------------*/

/*------- Responive*/
@media  screen and (max-width:800px){
    .srctxt{
        display: none;
    }  
    .icon{
        display: none;
    }
}
@media  screen and (min-width:800px){
    .header{
          display: block;
         min-width: 100%;
          height: 100px;
          padding-top: 0;
    }
    .open-nav{
        display: none;
    }
    .close-nav{
        display: none;
    }
    ul{
        position: relative;
        margin: 0 auto;
        padding:0 ;
    }
    li{
        display: block;
        float: left;
        left: 0;
       
    }
    .header::after{
        content: " ";
        clear: both;
        display: table;
    }
    .icon{
        display: block;
        color: white;
    }
    .fa-search{
        background-color: dodgerblue;
        color: white;
        font-size: small;
        border-radius: 0 3px 3px 0;
    }
    .mysearch{
        border: 3px solid dodgerblue;
    }
    .mysearch:focus{
        border: 1px solid dodgerblue;
        outline: none;
    }
    .icon{
        float: right;
        right: 20%;
        font-size: 15px;
        
    }
}