/*--- All content--------*/
*{
    box-sizing: border-box;
}
/*--------body--------*/
body{
    margin: 0 auto;
    padding: 0 auto;
}
#flexcontainer{
    display: flex;  
    flex-direction: column;
    background-color: black;
}
.header{
    flex: 100%;
}
.background{
    background-image:linear-gradient(rgba(0 , 0 ,0 ,0.7),rgba(0, 0 , 0, 0.7)) , url(../img/laptop_phone.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}
.acticle{
    flex: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
}
.text{
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: x-large;
 padding: 20%;
}
.smalltext{
    font-size: 15px;
}
.bigtext{
    letter-spacing: 3px;
    word-spacing: 5px;
}
.textbtn{
    font-size: 15px;
    font-family: sans-serif;
    background-color: rgb(17, 19, 177);
    border: 1px solid rgb(0, 110, 255);
    color: white;
    border-radius: 10PX;
}
.textbtn:focus{
    border: none;
}
/*----Footer-------------*/
.footer{
    flex: 50%;
}
footer {
    background-color: aqua;
    text-align: center;
}
footer img {
    width: 100%;
}