/*--- All content--------*/
*{
    box-sizing: border-box;
}
/*--------body--------*/
body{
    margin: 0 auto;
    padding: 0 auto;
}
#flexcontainer{
    display: flex;  
    flex-direction: column;
    background-color: black;
}
.header{
    flex: 100%;
}
.background{
    background-image:linear-gradient(rgba(0 , 0 ,0 ,0.7),rgba(0, 0 , 0, 0.7)) , url(../img/laptop_phone.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}
.acticle{
    flex: 100%;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
}
.acticle_more{
    flex: 100%;
    height: 500px;
    padding: 45px;
    background-color: rgba(0 , 0 ,0 ,0.2);
    color: white;
    text-align: center;
    justify-content: center;
}

.text{
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: x-large;
 padding: 20%;
}
.smalltext{
    font-size: 15px;
}
.bigtext{
    letter-spacing: 3px;
    word-spacing: 5px;
}
.textbtn{
    font-size: 15px;
    font-family: sans-serif;
    background-color: rgb(17, 19, 177);
    border: 1px solid rgb(0, 110, 255);
    color: white;
    border-radius: 10PX;
}
.textbtn:focus{
    border: none;
}
/*----- Skill---------*/
.skillcontainer{
    display: inline-block;
    width: 500px;
    height: 50px;
    background-color: wheat;
}
.left{
    float: left;
    margin: 2px;
    
}
.photoshop{
    display: block;
    width: 40%;
    height: 100%;
    background-color: tomato;
}
.webdesign{
    display: block;
    width: 85%;
    height: 100%;
    background-color: tomato;
}
.programming{
    display: block;
    width: 78%;
    height: 100%;
    background-color: tomato;
}
/*----Footer-------------*/
.footer{
    flex: 50%;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
}
footer img {
    width: 100%;
}
hr{
    width: 100px;
}
a{
    color: white;
}
.fa{
    font-size: 25px;
}

@media  screen and (max-width:600px){
    .skillcontainer{
        width: 300px;
    }
}